/*
 * Title:   Paradise Garden - Gardening and Landscaping - HTML Template
 * Author:  QTC Media
 */
@font-face {
  font-family: 'fontBilyOhio';
  src: url("../plugins/font-face/billy-ohio/Billy Ohio/billy_ohio-webfont.woff2") format("woff2"), url("../plugins/font-face/billy-ohio/Billy Ohio/billy_ohio-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=font.css.map */
